@font-face {
    font-family: WorkSans;
    src: url(../font/WorkSans-VariableFont_wght.ttf);
    font-weight: 400;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    font-family: WorkSans, sans-serif;
}

.site-navigation {
    display: flex;
}

.nav-item {
    text-decoration: none;
    font-size: 2rem;
    line-height: 2.9rem;
    margin-top: 10rem;
}

.current-page {
    color: #090A0A;
    margin-left: 118.2rem;
    margin-right: 4.8rem;
}

.another-page {
    color: #939596;
    margin-right: 10rem;
}

.title {
    font-size: 3.6rem;
    line-height: 5.04rem;
    margin-top: 10rem;
    margin-left: 8rem;
}

.pic {
    width: 128rem;
    height: 50rem;
}